

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        width: 6px;
        background-color:#f2f2f2;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--theme-bgc);
        cursor: pointer;
    }
    &::-webkit-scrollbar-track-piece {
       
        background-color: white;
    }
}



/*包含以下四种的链接*/
a {
    text-decoration: none;
    color: black;
    &:hover{
        color: black;
    }
}

p {
    margin: 0;
}

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    /*消除默认点击蓝色边框效果*/
    outline: none;
}

input {
    outline: none;
    border: none;
}
li{
    list-style: circle;
    margin-top: 6px;
}
:root {
    --theme: #8ac6d1;
    --deep-theme:#56738d;
    /* 色彩规范 */
    --tips-text: #BFBFBF;
    --main-text: #999;
    --input-text: rgb(240, 241, 242);
    --border:#edebfc;
    /* 字体 */
    --theme-family: 'Noto Sans S Chinese';
    /* 背景色 */
    --theme-bgc: #282c34;
    --ant-primary-color:#edebfc!important;
    // textarea - css vars
    --w-e-textarea-bg-color: rgba(32, 38, 49,.7);
    --w-e-textarea-color: #edebfc;
    --w-e-textarea-border-color: #282c34;
    --w-e-textarea-slight-border-color: #282c34;
    --w-e-textarea-slight-color: #282c34;
    --w-e-textarea-slight-bg-color: rgba(32, 38, 49,.7);
    --w-e-textarea-selected-border-color: #B4D5FF; // 选中的元素，如选中了分割线
    --w-e-textarea-handler-bg-color: #4290f7; // 工具，如图片拖拽按钮

    // toolbar - css vars
    --w-e-toolbar-color: #edebfc;
    --w-e-toolbar-bg-color: rgba(32, 38, 49,.7);
    --w-e-toolbar-active-color: #edebfc;
    --w-e-toolbar-active-bg-color: #595959;
    --w-e-toolbar-disabled-color: #999;
    --w-e-toolbar-border-color: #282c34;

    // modal - css vars
    --w-e-modal-button-bg-color: #282c34;
    --w-e-modal-button-border-color: #282c34;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    align-items: center;
    justify-content: center;
}
.ant-spin-dot-item{
    background-color: #fff;
}
.ant-spin-text{
    color: var(--main-text);
}
.spin-cover{
    width: calc(100% - 240px);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--theme-bgc);
    top: 50px;
    left: 240px;
    z-index: 3;
}
.spin-cover-hidden{
    display: none;
}

.ant-empty-description{
    color: var(--border);
}